.sidebar {
  width: 260px;
  height: 100vh;
  background: #ffffff;
  border-right: 1px solid #eee;
  display: flex;
  flex-direction: column;
  font-family: "Inter", sans-serif;
}

/* Logo */
.sidebar-logo {
  display: flex;
  align-items: center;
  padding: 20px;
  gap: 10px;
  border-bottom: 1px solid #eee;
}

/* Menu */
.sidebar-menu {
  padding: 15px 10px;
  flex: 1;
}

.menu-item {
  display: flex;
  align-items: center;
  gap: 14px;
  padding: 12px 16px;
  margin-bottom: 6px;
  text-decoration: none;
  color: #777;
  border-radius: 10px;
  font-size: 15px;
  font-weight: 500;
}

.menu-item svg {
  font-size: 18px;
}

/* Active Dashboard style */
.menu-item.active {
  background: #FEEFEA;
  color: #93311C;
  position: relative;
}

.menu-item.active::before {
  content: "";
  position: absolute;
  left: 0;
  top: 8px;
  bottom: 8px;
  width: 4px;
  background: #FB611A;
  border-radius: 4px;
}

/* Logout */
.sidebar-logout {
  padding: 15px 20px;
  border-top: 1px solid #eee;
  display: flex;
  align-items: center;
  gap: 14px;
  color: #555;
  cursor: pointer;
}

.sidebar-logout svg {
  font-size: 18px;
}


.sidebar-logo-img {
  width: 100px;
  height: auto;
}


.menu-item.active .menu-icon {
  color: linear-gradient(180deg, #FF8423 0%, #F74612 100%);
;
}
